html {
    width: 100%;
    height: 100%;
    background-color: rgb(9, 9, 9);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.backendFrom{
    display: flex;  
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.sidebar {
    width: 12.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2F4F4F;
    position: fixed;
}

.sidebar span{
    padding: 12px;
    position: relative;
    font-size: 18px;
    transition: .3s;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.sidebar-noactive::after{
    content: "";
    background-color: #AFEEEE;
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: .5s;
}

.sidebar-active{
    background-color: #223838;
    color: white;

}

.sidebar-noactive{
    color: #AFEEEE;
}

.sidebar-active::after{
    content: "";
    background-color: #AFEEEE;
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: .5s;
}

.sidebarImg{
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: 25px;
    left: 48.5%;
    transform: translate(-50%, 0);
}

.formGeneral{
    width: 82.5%;
    height: 95%;
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #2F4F4F;
}

.form-content{
    margin: 26px;
}

.formInput{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}

.formInput input[type=text], .formInput input[type=url], .formInput input[type=date], .formInput textarea{
    width: 75%;
}

.formInput span{
    width: 25%;
    height: auto; /* ESTO ES UNA CHAPUZA PERO FUNCIONA */
    padding: 8px;
    font-size: 20px;
    padding-left: 16px;
    background-color: #243b3b;
    color: white;
}

#spanTextArea{
    width: 25%;
    height: 1%; /* ESTO ES UNA CHAPUZA PERO FUNCIONA */
    padding: 8px;
    font-size: 20px;
    padding-left: 16px;
    background-color: #243b3b;
    color: white;
}

.formInputComplexColumn{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.formInputComplexRow{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.formComplex{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    justify-content: end;
}

.formComplex span{
    width: 53%;
    height: auto; /* ESTO ES UNA CHAPUZA PERO FUNCIONA */
    padding: 8px;
    font-size: 20px;
    background-color: #243b3b;
    color: white;
}

.formComplex input[type=text], .formComplex input[type=url], .formComplex input[type=date], .formComplex textarea{
    width: 50%;
}

.colorInputSpan{
    width: 49.5%;
}

.formComplex input[type=color]{
    height: 100%;
}

.imageControl{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerButtons{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageControl img{
    width: 75%;
    height: 75%;
    background-color: white;
}

.imageControl input[type=file]{
    display: none;
}

.imageControl label{
    width: 75%;
    height: auto; /* ESTO ES UNA CHAPUZA PERO FUNCIONA */
    padding: 8px 0px;
    font-size: 20px;
    background-color: #243b3b;
    color: white;
    margin-bottom: 16px;
    text-align: center;
}

.imageControl span{
    width: 75%;
    height: auto; /* ESTO ES UNA CHAPUZA PERO FUNCIONA */
    padding: 8px 0px;
    font-size: 20px;
    background-color: #243b3b;
    color: white;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.interactButton{
    cursor: pointer;
}

#divPreview{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#imagePreview{
    width: 75%;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.719);  
}

#imagePreview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#imagePreviewAbout{
    width: 75%;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.719);  
}

#imagePreviewAbout img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#upload {
    width: 25%;
    padding: 8px;
}

.displayInfo{
    margin-top: 3.5%;
    margin-left: 17.5%;
    padding: 26px;
    width: 82.5%;
    height: 95%;
    display: inline;
    bottom: 0;
    right: 0;
    background-color: #2F4F4F;
}

.previewContainer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.850);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.previewContainer img {
    width: 65vw;
    height: 65vh;
}

.previewContainer span{
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    color: red;
}

.previewContainer span:hover{
    cursor: pointer;
}

.colorPreview{
    width: 12.5px; 
    height: 12.5px; 
    display:inline-block;
}
